[Unit]
Description=Run battery charge control every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=legionbatctl.service

[Install]
WantedBy=timers.target
